header {
    width: 100%;
    background-color: gray;
}

section {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    box-sizing: border-box;
}

.column-1 {
    background-color: blue;
    margin: 0 1% 0 1%;
}

.column-2 {
    background-color: yellow;
    margin: 0 1% 0 1%;
}

footer {
    width: 100%;
    background-color: green;
}
